button {
    width: 150px;
    height: 150px;
}

#output, #outputScores {
    font-size: 1.5rem;
}

/* if (game) {
    const userSelection = button.id;
    const computerSelection = getComputerChoice();
    playRound(userSelection, computerSelection);

    if (!game) {
        buttons.forEach((btn) => (btn.disabled = true));
    }
} */